/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**************/
/**************/
/**************/

/*colors
#FE702B
#2F2F2F
*/

.container {
    background-color: #2F2F2F;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d5d5d5;
}

.clock-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    border: 1px solid #FE702B;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 7px rgba(254, 112, 43, 0.1);
}

.clock-timer {
    display: flex;
    font-size: 1.1rem;
}

.clock-btn-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.clock-btn {
    font-size: 0.8rem;
    border: 1px solid #e56527;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #e56527;
    width: 65px;
    target: none;
    padding: 3px;
    transition: all 0.1s linear;
    box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.1);
}

.clock-btn:hover {
    border-color: #FE702B;
    color: #FE702B;
    background-color: #2f2f2f;
    -webkit-transition: all 0.18s linear;
    -ms-transition: all 0.1s linear;
    transform: translateY(-1px);
    box-shadow: 1px 1px 6px 2px rgba(255, 255, 255, 0.1);
    transition: all 0.1s linear;
}

.clock-btn:active {
    background-color: #212121;
    border-color: #b24e1e;
    color: #b24e1e;
    transform: translateY(1px);
    box-shadow: 0px 0px 4px 4px rgba(109, 109, 109, 0.1);
}

.running {
    border: 1px solid #b5582b;
    background-color: #2a2a2a;
    color: #f4621c;
    transition: all 0.1s linear;
}

.random-dog-generator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-dog-img {
    width: 200px;
    height: auto;
    object-fit: contain;
    padding: 10px;
}

.generate-random-dog-btn {
    padding: 5px;
    background-color: transparent;
    border: 1px solid #2F2F2F;
    border-radius: 5px;
}

.dog-img-container {
    display: flex;
    flex-direction: row;
}

.spinner {
    height: 36px;
    align-self: center;
    width: 36px;
    border: 6px solid;
    border-color: #FE702B transparent #2F2F2F transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.match-card-game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-container {
    height: 150px;
    width: 100px;
    border: 1px solid black;
    justify-content: center;
}

img {
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.grid9x9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    width: 704px;
    border: 2px solid black;
}

.sudoku-element {
    width: 78px;
    height: 78px;
    border: 1px solid black;
    font-size: 10px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudoku-element:hover .sudoku-value-container {
    color: #f9f9f9;
    border: 1px solid #732020;
    background-color: #393939;
}

.sudoku-element-wrap {
    position: relative;
}

.editable-sudoku-element {
    color: #FE702B;
}

.sudoku-element:hover {
    cursor: pointer;
}

.sudoku-input {
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.absolute-input {
    position: absolute;
    width: 18px;
    height: 18px;
    font-size: 10px;
}


.sudoku-value-container {
    color: #c8c8c8;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.15s linear;
}
.sudoku-uneditable-value-container {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: auto;
}


.sudoku-possible-values {
    color: #ba1d24;
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    font-size: 10px;
    text-align: center;
    /*color: #4981ee;*/
    border: 1px solid transparent;
    transition: all 0.15s linear;
    border-radius: 5px;
}

.sudoku-possible-values:hover {
    color: #e21d25;
    position: absolute;
    width: 18px;
    height: 18px;
    font-size: 10px;
    text-align: center;
    border: 1px solid #732020;
    background-color: #393939;
    cursor: pointer;
}

.s1 {
    top: 2px;
    left: 2px;
}

.s2 {
    top: 2px;
    right: 2px;
}

.s3 {
    left: 2px;
    bottom: 2px;
}

.s4 {
    right: 2px;
    bottom: 2px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.sudoku-hidden {
    display: none;

}



